.card {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .container {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    width: 100%;
    max-width: 1375px;

    @media (max-width: 1150px) {
      flex-direction: column;
      text-align: center;

      .info {
        margin-bottom: 100px;
        align-items: center;
      }

      .card {
        height: 40rem;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex: 1;

      .title {
        font-weight: 600;
        font-size: 48px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: #ffffff;

        @media (max-width: 700px) {
          font-size: 35px;
        }

        .card-deal {
          background: linear-gradient(to top right, #ff47e7 0%, #33bacf 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-transform: uppercase;
        }
      }
    }

    .card {
      height: 25rem;

      @media (max-width: 700px) {
        height: 20rem;
      }

      @media (max-width: 500px) {
        height: 13rem;
      }
    }
  }
}
